.error {
  margin: 0 auto;
  display: none;
  border: 3px solid blue;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  background-color: white;
  width: fit-content;
  color: red;
  font-family: pokemon-solid;
  letter-spacing: 3px;
}

.form {
  margin: 0 auto;
  width: fit-content;
  border: 3px solid blue;
  border-radius: 15px;
  background-color: yellow;
  padding: 20px 10px;
}

label {
  padding-right: 10px;
}

#playername, button {
  font-family: glass-antiqua;
  border: 2px solid blue;
  border-radius: 12px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  background-color: white;
}

.start-game:hover {
  background-color: lightgreen;
}

.player1, .player2 {
  text-align: center;
  margin: 50px 0px;
  display: grid;
  align-items: center;
  border-radius: 15px;
  column-gap: 10px;
  padding-bottom: 10px;
}

.p1-pokemon-card, .p2-pokemon-card {
  margin: 0 auto;
  border: 2px solid blue;
  border-radius: 15px;
  height: 250px;
  width: 100px;
  padding: 30px 40px 0px 40px;
  font-size: 16px;
}

.columns3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.columns6 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

h2 {
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 10px;
}

p {
  height: fit-content;
  margin: 0;
}

/* section {
  gap: 5px;
  background-color: none;
} */