h1 {
  font-family: pokemon-solid;
  letter-spacing: 3px;
  text-decoration-line: underline;
  margin: 20px 0px;
}

.instructions {
  margin: 0 auto;
  display: block;
  text-align: center;
  border: 10px solid blue;
  width: fit-content;
  background-color: yellow;
  border-radius: 15px;
  margin-top: 150px;
}

ol {
  list-style: decimal inside;
  padding: 0px 20px;
}